<div class="main-div">
  <mat-card style="width: 90%" class="example-card">
    <mat-card-header>
      <mat-card-title>
        Inventions Catalog
        <button align="end" mat-raised-button color="accent">
          Create
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="yearofinvention">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Year Of Invention </th>
          <td mat-cell *matCellDef="let element"> {{element.yearofinvention}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="countryname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.countryname}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="updateInvention(element)">Update</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteInvention(element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>
