<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="professional">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Professional </th>
    <td mat-cell *matCellDef="let element"> {{element.professional}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
    <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="researcharea">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Research Area </th>
    <td mat-cell *matCellDef="let element"> {{element.researcharea}} </td>
  </ng-container>


  <ng-container matColumnDef="salaryavg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary Average </th>
    <td mat-cell *matCellDef="let element"> {{element.salaryavg}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

