<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
<!--    <span><img src="./assets/devglan.png"></span>-->
    <h1 style="padding-left: 4em">{{content}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height: 100%">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/home' (click)="setName('Home')">Home</a>
      <a mat-list-item routerLink='/login' (click)="setName('LogIn')">LogIn</a>
      <a mat-list-item routerLink='/professionals' (click)="setName('Professionals')">Professionals</a>
      <a mat-list-item routerLink='/countrys' (click)="setName('Countrys')">Countrys</a>
      <a mat-list-item routerLink='/inventors' (click)="setName('Inventors')">Inventors</a>
      <a mat-list-item routerLink='/inventions' (click)="setName('Inventions')">Inventions</a>
      <a mat-list-item routerLink='/querys' (click)="setName('Querys')">Querys</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
