<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="junior">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Junior </th>
    <td mat-cell *matCellDef="let element"> {{element.junior}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="senior">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Senior </th>
    <td mat-cell *matCellDef="let element"> {{element.senior}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="researcharea">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Research Area </th>
    <td mat-cell *matCellDef="let element"> {{element.researcharea}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

