<div class="main-div">
  <mat-card style="width: 90%" class="example-card">
    <mat-card-header>
      <mat-card-title>
        Professionals Catalog
        <button align="end" mat-raised-button color="accent">
          Create
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="contractdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Date </th>
          <td mat-cell *matCellDef="let element"> {{element.contractdate}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="comission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comission </th>
          <td mat-cell *matCellDef="let element"> {{element.comission}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="updateProfessional(element.professional)">Update</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteProfessional(element.professional)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>
