
<mat-accordion class="centered">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 1
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query1.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query1></app-query1>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 2
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query2.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query2></app-query2>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 3
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query3.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query3></app-query3>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 4
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query4.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query4></app-query4>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 5
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query5.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query5></app-query5>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 6
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query6.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query6></app-query6>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 7
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query7.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query7></app-query7>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 8
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query8.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query8></app-query8>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 9
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query9.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query9></app-query9>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 10
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query10.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query10></app-query10>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 11
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query11.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query11></app-query11>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Query 12
      </mat-panel-title>
      <mat-panel-description>
        <a href="http://localhost/bd1/fpdf/query12.php" target="_blank">Print</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-query12></app-query12>
  </mat-expansion-panel>
</mat-accordion>

