
<h1 mat-dialog-title *ngIf="country"></h1>
<div mat-dialog-content>
  Are you sure you want to <span style="font-weight: bold;">DELETE</span> the country <br><br>

  <span style="font-weight: bold; font-size: 1.2em"> {{country.name | uppercase}}</span>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="deleteCountry()">Yes</button>
  <button mat-raised-button mat-dialog-close="">Cancel</button>
</div>

