<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>LogIn</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" type="text">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="password" type="password">
      </mat-form-field>
      <button position="end" style="margin: auto" mat-raised-button color="primary">Log In</button>
    </form>
  </mat-card-content>
</mat-card>


