<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="success">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Success </th>
    <td mat-cell *matCellDef="let element"> {{element.success}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="failure">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Failure </th>
    <td mat-cell *matCellDef="let element"> {{element.failure}} </td>
  </ng-container>

  <ng-container matColumnDef="attempts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attempts </th>
    <td mat-cell *matCellDef="let element"> {{element.attempts}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

