<h1 mat-dialog-title *ngIf="country">Update Country</h1>
<div mat-dialog-content>
  <h1>{{country.name | uppercase}}</h1>
  <form>
    <mat-form-field class="full-width">
      <input matInput placeholder="Country Name" type="text" name="name" [(ngModel)]="country.name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Capital" type="text" name="capital" [(ngModel)]="country.capital">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Population" type="number" name="population" [(ngModel)]="country.population">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Area" type="number" name="area" [(ngModel)]="country.area">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select [(ngModel)]="country.region" name="region">
        <mat-option *ngFor="let region of regions" [value]="region.region">
          {{region.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="updateCountry()">Update</button>
  <button mat-raised-button mat-dialog-close="">Cancel</button>
</div>

