<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="continent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Continent </th>
    <td mat-cell *matCellDef="let element"> {{element.continent}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="questions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions </th>
    <td mat-cell *matCellDef="let element"> {{element.questions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

