<div class="main-div">
  <mat-card style="width: 90%" class="example-card">
    <mat-card-header>
      <mat-card-title>
        Countrys Catalog
        <button align="end" mat-raised-button color="accent">
          Create
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="regionname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
          <td mat-cell *matCellDef="let element"> {{element.regionname}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="capital">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Capital </th>
          <td mat-cell *matCellDef="let element"> {{element.capital}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="population">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let element"> {{element.population}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="updateCountry(element)">Update</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteCountry(element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>
