<table mat-table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="country1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country 1</th>
    <td mat-cell *matCellDef="let element"> {{element.country1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="country2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.country2}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

